{% extends 'base.html' %} 

{% block content %} 

{% include "includes/_status.html" %}
<div class="row">
  <div class="col-md-5">
    <h5>CUSTOMERS: {{ total_customers }}</h5>
    <hr />
    <div class="card card-body">
      <a class="btn btn-primary btn-sm btn-block" href="">Create Customer</a>
      <table class="table table-sm">
        <tr>
          <th></th>
          <th>Customer</th>
          <th>Phone</th>
          <th>Email</th>
        </tr>
        
        <tbody>
          {% for customer in  customers %}
          <tr>
            <td></td>
            <td>{{ customer.name }}</td>
            <td>{{ customer.phone }}</td>
            <td>{{ customer.email }}</td>
            <td><a href="{% url 'customer' customer.id %}" class="btn btn-sm btn-info">view</a></td>
        
          
          {% endfor %}
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="col-md-7">
    <h5>LAST 5 ORDERS</h5>
    <hr />
    <div class="card card-body">
      <a class="btn btn-primary btn-sm btn-block" href="{% url 'create_order' %}">Create Order</a>
      <table class="table table-sm">
        <tr>
          <th>Product</th>
          <th>Date Orderd</th>
          <th>Status</th>
          <th>Update</th>
          <th>Remove</th>
        </tr>
        <tbody>
          <tr>
          {% for order in orders %}
          <td>{{ order.product.name }}</td>
          <td>{{ order.date_created  }}</td>
          <td>{{ order.status }}</td>
          <td><a href="{% url 'update_order' order.id %}" class="btn btn-sm btn-primary">update</a></td>
          <td><a href="{% url 'delete_order' order.id %}" class="btn btn-sm btn-danger">remove</a></td>
          
        </tr>
          {% endfor %}
          
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
